{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item">
            <select id="lang-switcher" onchange="window.location.href=this.value">
              <option value="{{ base_path }}{{ page.url | remove_first: '/fr' }}" {% if page.lang == 'en' %}selected{% endif %}>🇬🇧</option>
              <option value="{{ base_path }}/fr{{ page.url | remove_first: '/fr' }}" {% if page.lang == 'fr' %}selected{% endif %}>🇫🇷</option>
            </select>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
